asn1crypto==0.23.0
attrs==17.4.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.1.1
cssselect==1.0.3
enum34==1.1.6
Flask==0.12.2
Flask-Cors==3.0.3
Flask-SQLAlchemy==2.3.2
gevent==1.2.2
greenlet==0.4.13
gunicorn==19.7.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
numpy==1.14.2
parsel==1.4.0
Pillow==5.1.0
psycopg2==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pygame==1.9.3
pyobjc-core==4.0
pyobjc-framework-Cocoa==4.0
pyobjc-framework-Quartz==4.0
pyOpenSSL==17.3.0
pypng==0.0.18
PyQRCode==1.2.1
pytesseract==0.2.0
python-xlib==0.20
PyUserInput==0.1.11
queuelib==1.4.2
requests==2.11.1
Scrapy==1.5.0
service-identity==17.0.0
six==1.11.0
SQLAlchemy==1.2.6
Twisted==17.9.0
urllib3==1.22
w3lib==1.19.0
Werkzeug==0.14.1
zope.interface==4.4.3
