
Flask==1.0.2
flatpak-module-tools==0.8.4
fros==1.1
funcsigs==1.0.2
gpg==1.10.0
gunicorn==19.9.0
html5lib==0.999999999
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==0.23
pytest==3.4.2
virtualenv==16.0.0
Werkzeug==0.14.1
