<!DOCTYPE html>
<html lang="en">
  
{% extends "base.html" %}
{% block content %}
<head>
  <title>Edit Your Post</title>
  <style>
    section{
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
    }
    p{
	margin-left:80px;
    }
    h1{
	margin-left:80px;
    }
  </style>
</head>

<body>
<section>
<h1>Edit Your Post</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(cols=50, rows=1) }}<br> <!--Size-->
        {% for error in form.name.errors %}
        <span style="color: blueviolet;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(cols=50, rows=1) }}<br> <!--Size-->
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.gender.label }}<br>
        {{ form.gender(cols=50, rows=1) }}<br> <!--Size-->
        {% for error in form.gender.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body(cols=50, rows=4) }}<br> <!--Size-->
        {% for error in form.body.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p> <!--Submit button-->
</form>
</section>
</body>
{% endblock %}
</html>
