<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>

    {% for post in posts %}
<p style="margin-left:50px;margin-right:40px">
    {{ post.author.username }}'s post: <br />
    Name: <b>{{ post.name }}</b> <br /> <!--<br /> New line-->
    Email: <b>{{ post.email }}</b> <br />
    Gender: <b>{{ post.gender }}</b> <br />
    Contents: <b>{{ post.body }}</b>
</p>
    {% endfor %}
{%with messages = get_flashed_messages()%}
{%if messages%}
<ul class=flashes>
{%for messages in messages%}
<li>{{messages}}</li>
{%endfor%}
</ul>
{%endif%}
{%endwith%}
{%from "_formhelpers.html" import render_field %}
    <form method=post>
	<dl>
	{{render_field(form.select)}}
	<p>
	{{render_field(form.search)}}
	</dl>
<p><input type=submit value=Search>
</form>
    {% if prev_url %}
<a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
<a href="{{ next_url }}">Older posts</a>
    {% endif %}

<p><a href="{{ url_for('make_posts') }}">Make your own posts here!</a></p>
{% endblock %}
