<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  <head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>

  <body>
      {% block content %}
      <center><h1>Sign in to FindtheRoommate</h1></center>
      <br>
      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <center>
              <box>
                  <p>
                      {{ form.username.label }}<br>
                      {{ form.username(size=32) }}<br>
                      {% for error in form.username.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  </p>
                  <p>
                      {{ form.password.label }}<br>
                      {{ form.password(size=32) }}<br>
                      {% for error in form.password.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  </p>
                  <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                  <p>{{ form.submit() }}</p>
                  <p>
                      <hhh>Forgot Your Password?</hhh>
                      <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
                  </p>
      </form>
      <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
      </box>
      </center>
      {% endblock %}
  </body>
</html>

