<!DOCTYPE html>
<html lang="en">
  
{% extends "base.html" %}
{% block content %}
<head>
  <title>User Info</title>
  <style>
    section{
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
    }
    th, td{
	text-align:left;
	padding-left:5px;
	padding-right:5px;
    }
    user{
	margin-left:80px;
    }
    large-font{
	font-size:35px;
    }
  </style>
</head>

<body>
<section>
  {{content}}
<table style="margin-left:80px">
    <tr valign="top">
        <th rowspan="3"><img src="{{ user.avatar(44) }}" height="55" width="55"></th>
        <td>
          <large-font>User: {{ user.username }}</large-font>
	</td>
    </tr>
    <tr>
       <td>{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}</td>
    </tr>
    <tr>
        <td>{% if user == current_user %}{% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}{% endif %}</td>
    </tr>
</table>
{% if user == current_user %} <!--The link will be showned only when you are the user for this page-->
<p style="margin-left:150px"><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
{% endif %}    

<hr>
    {% for post in posts %}
        {% include '_post.html' %}
{% endfor %}
</section>
</body>
{% endblock %}
</html>
