<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% if title %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/site.css" />
    {% else %}
    <title>Welcome to Hello Python Flask!</title>
    {% endif %}

</head>

<body>
    <div class="navbar">
        <a href="/" class="navbar-brand">Hello Flask</a>
        <a href="{{ url_for('home') }}" class="navbar-item">Home</a>
        <a href="{{ url_for('posts') }}" class="navbar-item">Posts</a>
        <a href="{{ url_for('detail') }}" class="navbar-item">Detail</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
        {% endif %}

    </div>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <div class="body-content">

        {% block content %}
        {% endblock %}
        <hr />
        <footer>
            <p>&copy; 2018</p>
        </footer>
    </div>
</body>
</html>