{% extends "base.html" %}

{% block content %}
<h1 style="margin-left:80px">Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p style="margin-left:80px">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p style="margin-left:80px">
            {{ form.UCSB_email.label }}<br>
            {{ form.UCSB_email(size=32) }}<br>
            {% for error in form.UCSB_email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="margin-left:80px">
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="margin-left:80px">{{ form.submit() }}</p>
    </form>
{% endblock %}
