{% extends "base.html" %}

{% block content %}
<h1 style="margin-left:80px;color:DarkBlue">Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p style="margin-left:80px; margin-right:30px">
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="margin-left:80px">{{ form.submit() }}</p>
    </form>
    {%endif%}
    {% for post in posts %}
    	{%include '_post.html'%}
    {% endfor %}
{% endblock %}
