{% extends 'post_base.html' %}
{% block content  %}
     <table class="table table-hover">
        <tr>
            <td>
		<h1>Hi, {{ current_user.username }}!</h1>

    {% for post in posts %}
<p>
    {{ post.author.username }}'s post: <br />
    <b>{{ post.name }}</b> <br /> <!--<br /> New line-->
    <b>{{ post.email }}</b> <br />
    <b>{{ post.gender }}</b> <br />
    <b>{{ post.body }}</b>
</p>
    {% endfor %}
<p><a href="{{ url_for('index') }}">Make your own posts here!</a></p>
            </td>
        </tr>
    </table>
{% endblock %}
